

:root{
    --color-strong: #3ABEF9;
}



.container_problema{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    background: black;
    background-image: url("/image/bg_pageProblema.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


.container_problema h1{
    color: white;
    font-size: 4rem;
    font-family: var(--Font-family-primary);
    color: white;
    text-align: center;
}

.container_problema p{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--Font-family-primary);
}

.problema_content{
    display: block;
    justify-content: start;
    width: 50%;
    padding: 50px;
}

.problema_content strong{
    color: var(--color-strong);
}

.problema_image{
    width: 50%;
}

.problema_image img {
    width: 80%;
    border-radius: 30px;

}