:root{
    --color-strong: #3ABEF9;
}

.container_tecnologia{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
    background: black; 
    background-image: url("/image/bg_pagetecnologia1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.tecnologia_content{
    width: 80% ;
}

.tecnologia_content h3{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--Font-family-primary);
    text-align: center;
}

.tecnologia_content strong{
   color:var(--color-strong);
}