.container_objetivo{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
    background: black; 
    background-image: url("/image/bg_pageObjetivo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.container_objetivo h1{
    color: white;
    font-size: 4rem;
    font-family: var(--Font-family-primary);
    color: white;
    text-align: center;
}

.container_objetivo p{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--Font-family-primary);
}

.objetivo_content{
    display: block;
    justify-content: start;
    width: 50%;
    padding: 50px;
}

.objetivo_content strong{
    color: var(--color-strong);
}

.objetivo_image{
    width: 50%;
}

.objetivo_image img {
    width: 80%;
    border-radius: 30px;

}